streamlit-webrtc==0.31.3
streamlit==1.2.0
opencv-python-headless
opencv-contrib-python-headless
cvzone
#opencv-python
mediapipe==0.8.9
pip>=9
aiortc==1.2.1
typing-extensions==3.7.4.3
numpy==1.23.4
tensorflow==2.5.2
hydralit_components
